.async-gmaps-spinner {
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* credits @ https://www.w3schools.com/howto/howto_css_loader.asp */
.async-gmaps-spinner.simple-spinner {
  border: 0.25em solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.25em solid #000;
  width: 2rem;
  height: 2rem;
  -webkit-animation: simple-spin 0.75s linear infinite; /* Safari */
  animation: simple-spin 0.75s linear infinite;
}

/* Safari */
@-webkit-keyframes simple-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes simple-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}